body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.mainbody{
    width: 350px;
    background-color: black;
    height: 500px;
    margin: 50px;
    border-radius: 10px;
    border: black 1px solid;
    
}
.displaybody{
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(228, 238, 217);
    height: 40%;
    margin: 0 auto;
    border-radius: 10px;
    

}
.keybody{
    width: 98%;
    background-color: gray;
    height: 60%;
    border-radius: 10px;
    margin: 0 auto;
   
}
.keys{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px 5px 10px 5px;
    width: 95%;

}
.keys > button{
    text-align: center;
    font-size: 35px;
    border-radius: 10px;
    
}
#Equal{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
}

.Answer{
    width: 90%;
    height: 30%;
    margin: 5px;
    border: hidden;
    background-color: rgb(252, 253, 253);
    font-size: 40px;
}

@media only screen and (max-width: 350px) {
    .keys > button{
        text-align: center;
        font-size: 20px;
        border-radius: 10px;
        
        
    }
    .mainbody{
        width: 99%;
        background-color: black;
        height: 500px;
        margin: 50px;
        border-radius: 10px;
        border: black 1px solid;
        
    }
}
@media only screen and (max-width: 600px) {
    .keys{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
        padding: 20px 5px 10px 5px;
    
    }
    .keys > button{
        text-align: center;
        font-size: 25px;
        border-radius: 10px;
        
    }
    .Answer{
        width: 90%;
        height: 30%;
        margin: 3px;
        border: hidden;
        background-color: rgb(252, 253, 253);
        font-size: 20px;
    }
    .mainbody{
        width: 70%;
        background-color: black;
        height: 500px;
        margin: 50px;
        border-radius: 10px;
        border: black 1px solid;
        
    }

}
